html, body { height:100%;}

.hidden {
	display: none !important;
}

.allheight {
	height: 100%;
}

.halfheight {
    height: 50%;
    background-color: #e0e0e0;
}

.onethirdheight {
	height: 33.333333332%;
}

.ui.button {
	vertical-align: middle !important;
}

.ui.card .header{
	font-weight: bold;
	font-size: 2em !important;
	color: black;	
}

.ten_height{
	
	height: 10%;
    background-color: #e0e0e0;
}

.mini{

	width:70px !important;
	border-radius: 35px;
}

.fullwidth{
	width:100% !important;
}

.image.absolute{
	position:absolute;
	top:10px;
	right:22px;
}

.description.absolute{
	position:absolute;
	top:10px;
	right:22px;
}
.text-centered{
	text-align: center;
}

.care-container {
	background-color: #3b83c0!important;
}

.ui.statistic{
	font-size: 2em !important;
	margin-left: 2em !important;
}

.ui.statistic>.value, .ui.statistics .statistic>.value {
	font-size: 2rem !important;
}

.bigbutton{
	padding-top:15px !important;
	padding-bottom:15px !important;
}

.icon-big{
	font-size: 10em;
	display: block;
	margin-bottom: 10px;
}

.contact-records {
	padding-top: 42px !important;
}

.voice-records {
	padding-top: 30px !important;
}

.voice-records .ui.cards>.card {
	margin: 0px !important;
}