<div class="sixteen wide column allheight">
	<div class="ui cards">
		<div ng-repeat="(key, value) in model" class="card fullwidth">
			<div class="image text-centered">
		      	<img class="ui small image centered fluid" src="{{value.icon}}" />
		      </div>
		    <div class="content">
		      <a class="header">{{value.name}}</a>
		      <div class="meta">
		        <span>{{ 'CARE_DISTANCE' | translate }} : {{value.distance}} KM</span>
		      </div>
		      <div class="description" ng-if="value.desc">
		        <p class="ui label green">{{value.desc}}</p>
		      </div>
		      <div class="extra">
		        {{value.location}}
		      </div>
		      <div class="extra content">
		      	  <div class="ui three buttons">
		            <div class="ui blue button" ng-click="goto('record')"> <i class="fa fa-volume-up"></i> {{ 'CARE_FRIENDS_CALLVM' | translate }}</div>
		            <div class="ui green button"> <i class="fa fa-phone"></i> {{ 'CARE_FRIENDS_CALL' | translate }}</div>
		            <div class="ui yellow button"> <i class="fa fa-map-marker"></i> {{ 'CARE_FRIENDS_GOTO' | translate }}</div>
		          </div>
		      </div>
		    </div>
		</div>
	</div>
</div>
