<div class="ui inverted blue menu">
    <div class="ui container">
        <div href="#" class="header item ">
            <!--<img class="logo centered" src="assets/images/logo.png">-->
            <span>Vocal Memo</span>
        </div>


    </div>
</div>


<div class="ui centered" style="margin-top:50px">

    <a ng-click="toggleCustom()" ng-show="custom"><img class="ui centered medium image"  ng-src="/img/record.png"  />
    </a>

    <a ng-click="toggleCustom()" ng-hide="custom"><img class="ui centered medium image"  ng-src="/img/stop.png"  />
    </a>


    <div class="ui green  fluid ">
        <div class="ui content header centered " style="margin-top:10px">
           <h1> {{ 'VOCA_RECORD' | translate }} </h1>
        </div>
    </div>
</div>
<button class="ui  fluid  bottom blue button sixteen wide column"ng-click="goto('options')" style="margin-top:10px">Done</button>
<div class="ui two bottom attached buttons">
    <div class="ui button">
        Action 1
    </div>
    <div class="ui button">
        Action 2
    </div>
</div>

