<div class="main-ctn ui celled grid allheight ng-class: show_main;">
    <div class="row halfheight">
        <div class="fullwidth column ui button yellow" ng-click="goto('/record')" > {{ 'REVE_RECORDING' | translate }}</div>
    </div>
    <div class="row halfheight">
        <div class="fullwidth column ui button green"   ng-click="show('/voicerecord')" > {{ 'REVE_VOCLOG'    | translate }}</div>
    </div>
</div>

<div id="SubCtn" class="ui celled grid allheight action-ctn ng-class:show_sub; care-container" ng-include="show_template" onload="onviewload(view_cmd)"></div>
