<div class="main-ctn ui celled grid allheight ng-class: show_main;">

<div class="ui centered" style="margin-top:50px">

    <a ng-click="toggleCustom()" ng-show="custom"><img class="ui centered medium image"  ng-src="/img/record.png"  />

    </a>

    <a ng-click="toggleCustom()" ng-hide="custom"><img class="ui centered medium image"  ng-src="/img/stop.png"  />



    <div class="ui green  fluid ">
        <div class="ui content header centered " style="margin-top:10px">
           <h1> {{ 'VOCA_RECORD' | translate }} </h1>
        </div>
    </div>
    <a ng-click="toggleCustom()" ng-hide="custom" style="margin-top:10px"><img class="ui centered mini image"  ng-src="/img/loading.gif"  />
    </a>
</div>

<br/>
<div class="row halfheight" style="margin-top:10px;">
    <div class="ui  fluid  blue button fullwidth column"ng-click="goto('options')" style="margin-top:10px; font-size: 100px;">DONE</div>

</div>
</div>
