<div class="main ui container blue allheight">
    <div class=" ui cards contact-records" style="background-color:#3b83c0!important;padding:8px 8px;">
        <div class="card fullwidth">
            <div class="content">
                <img class="right floated mini ui image absolute"  src="/img/avatar/large/elliot.jpg">
                <div class="header">
                    Elliot Fu
                </div>
                <div class="meta">
                    Last Send at yesterday
                </div>
                <div class="description">
                    Friends of Veronika
                </div>
            </div>
            <div class="extra content">
                <div class="ui fluid buttons">
                    <div class="ui basic green button "ng-click="goto('/sent')">Send</div>
                </div>
            </div>
        </div>

        <div class="card fullwidth" >
            <div class="content">
                <img class="right floated mini ui image absolute" src="/img/avatar/large/steve.jpg">
                <div class="header">
                    Steve Jobs
                </div>
                <div class="meta">
                    Last Send at 3 days ago
                </div>
                <div class="description">
                    Son
                </div>
            </div>
            <div class="extra content">
                <div class="ui fluid buttons">
                    <div class="ui basic green button "ng-click="goto('/sent')">Send</div>
                </div>
            </div>
        </div>


        <div class="card fullwidth">
            <div class="content">
                <img class="right floated mini ui image absolute"  src="/img/avatar/large/helen.jpg">
                <div class="header">
                    Helen
                </div>
                <div class="meta">
                    Last Send at yesterday
                </div>
                <div class="description">
                    Neighbuor
                </div>
            </div>
            <div class="extra content">
                <div class="ui fluid buttons">
                    <div class="ui basic green button "ng-click="goto('/sent')">Send</div>
                </div>
            </div>
        </div>


        <div class="card fullwidth">
            <div class="content">
                <img class="right floated mini ui image absolute"  src="/img/avatar/large/jenny.jpg">
                <div class="header">
                    jenny
                </div>
                <div class="meta">
                    Last Send at last month
                </div>
                <div class="description">
                    Friend
                </div>
            </div>
            <div class="extra content">
                <div class="ui fluid buttons">
                    <div class="ui basic green button "ng-click="goto('/sent')">Send</div>
                </div>
            </div>
        </div>

        <div class="card fullwidth">
            <div class="content">
                <img class="right floated mini ui image absolute"  src="/img/avatar/large/veronika.jpg">
                <div class="header">
                    Veronika
                </div>
                <div class="meta">
                    Last Send at two month ago
                </div>
                <div class="description">
                    Friend
                </div>
            </div>
            <div class="extra content">
                <div class="ui fluid buttons">
                    <div class="ui basic green button "ng-click="goto('/sent')">Send</div>
                </div>
            </div>
        </div>


    </div>
</div>


<!--  <div class="ui celled grid allheight blue">

   <div class="row ten_height">
      <div class="sixteen wide column ui button blue">{{ 'A Ban' }}</div>
   </div>
   <div class="row ten_height">
      <div class="sixteen wide column ui button blue">{{ 'John' }}</div>
   </div>
   
   <div class="row ten_height">
      <div class="sixteen wide column ui button blue">{{ 'Son' }}</div>
   </div>
   
   <div class="row ten_height">
      <div class="sixteen wide column ui button blue">{{ 'Daught' }}</div>
   </div>
   <div class="row ten_height">
      <div class="sixteen wide column ui button blue">{{ 'Joyce' }}</div>
   </div>
   
   <div class="row ten_height">
      <div class="sixteen wide column ui button blue">{{ 'A Ban' }}</div>
   </div>
   <div class="row ten_height">
      <div class="sixteen wide column ui button blue">{{ 'John' }}</div>
   </div>
   
   <div class="row ten_height">
      <div class="sixteen wide column ui button blue">{{ 'Son' }}</div>
   </div>
   
   <div class="row ten_height">
      <div class="sixteen wide column ui button blue">{{ 'Daught' }}</div>
   </div>
   <div class="row ten_height">
      <div class="sixteen wide column ui button blue">{{ 'Joyce' }}</div>
   </div>
</div>
-->

<style>
    .container{
        background-color:#3b83c0!important;
    }
</style>